<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.marproject.lawancovid19">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="org.marproject.lawancovid19.LawanCovidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/lawan_covid_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="org.marproject.lawancovid19.ui.produktif.BeritaTerkiniActivity"/>
        <activity android:name="org.marproject.lawancovid19.ui.menu.GrafikActivity" />
        <activity android:name="org.marproject.lawancovid19.ui.produktif.BacaQuranActivity" />
        <activity android:name="org.marproject.lawancovid19.ui.about.AboutActivity" />
        <activity android:name="org.marproject.lawancovid19.ui.produktif.EdukasiCovidActivity" />
        <activity android:name="org.marproject.lawancovid19.ui.produktif.BacaTutorialActivity" />
        <activity android:name="org.marproject.lawancovid19.ui.produktif.ProduktifActivity" />
        <activity android:name="org.marproject.lawancovid19.ui.global.DiagnosaMandiriActivity" />
        <activity android:name="org.marproject.lawancovid19.ui.global.StatistikInterActivity" />
        <activity android:name="org.marproject.lawancovid19.ui.global.GlobalActivity" />
        <activity android:name="org.marproject.lawancovid19.ui.provinsi.ProvinsiActivity" />
        <activity android:name="org.marproject.lawancovid19.ui.menu.MenuActivity" />
        <activity android:name="org.marproject.lawancovid19.ui.splash.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>